.feed{
    flex: 0.6;
    margin: 0 20px;
}

.feed_inputContainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed_input{
    border: 1px solid lightgray;
    border-radius: 35px !important;
    display: flex;
    padding: 10px;
    color: grey;
    padding-left: 20px !important;
    padding-right: 20px;
    justify-content:left;
    margin: 4px 0;
    padding-right: .8rem !important;
    width: auto;
}

.feed_input > form{
    display: flex;
    width: 100%;
}
.feed_input:hover{
    background-color:whitesmoke;
}

.feed_input > form > input{
    border: none;
    flex: 1;
    outline-width: 0;
    font-weight: 600;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    padding-left: 20px !important;
    padding-right: 20px
    
}

.feed_input > form > button{
    display: none;
}

.feed_inputOptions{
    display: flex;
    justify-content: space-evenly;
}

.feed_mod{
    display: flex;
    align-items: center;
}

.user_icon{
    margin-left: 15px;
    margin-right: 15px;
}
